.nav {
    background-color: #3C3C3C;
    color: var(--turqoise);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-search-link {
    margin: auto auto auto 1rem;
}

.nav .nav-logo-link {
    margin: 5px auto auto auto;
    padding: 10px;
}

.nav .nav-login-link {
    margin: auto 1rem auto auto;
}

.home-icon-img {
  min-width: 80px;
  object-fit: cover;
}

.login-icon-img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}
