.tabs {
    background-color: #101010;
    color: var(--turqoise);
}

.tabs .selectedTab{
    
}

/* Can we delete this? Dont know who's code? /Emelie
#tabsBar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    font-size: medium;
    height: 2em;
    background-color: var(--almostBlack);
    padding: 0;
    margin: 0;
}

.tabWrapper {
    background-color: var(--almostBlack);
    flex: 1;
    height: 2em;
}

.tab {
    text-decoration: none;
    color: aqua;
    text-transform: uppercase;
    opacity: 0.6;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}

.selectedTab {
    color: var(--buttonText);
}
*/

