.footer {
  background: var(--almostBlack);
  color: var(--turqoise);
  left: 0;

  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: absolute;
  
  bottom: 0;
  
  overflow: hidden;
}

.footer .footer-element {
  padding: 10px;
  margin: 0;
}
@media screen and (max-width: 700px) {
  .footer {
    display: flex;
  }
  .footer .footer-element {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 25vh;
   
  }
}
