.search-results {
    color: #08F6AF;
}

.search-results .search-results-header {
    text-align: left;
    margin: 20px 0 0 10%;
    color: #08F6AF;
}

.search-results .search-results-breakline {
    width: 80%;
    height: 2px;
    border-width: 0;
    color: #3c3c3c;
    background: #3c3c3c;
}

.search-results .search-results-browser {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
}

.search-results .search-results-image {
    border: 1px solid white;
    height: 200px;
    width: 150px;
    margin: 20px 40px 0 0;
}