.movie-details {
    background-color: var(--almostBlack);
    display: flex;
    align-items: top;
    color: var(--whiteText);
    margin: auto;
    padding: 10px;
}

.movie-details .movie-details-image {
    border: 1px solid white;
    object-fit: cover;
    width: 400px;
    height: 500px;
}

@media (max-width: 700px) {
    .movie-details {
        flex-direction: column;
    }
    .movie-details .movie-details-image {
        width: 50%;
        height: 20%;
        align-self: center;
        margin-bottom: 15px;
    }
}

.movie-details .movie-details-information {
    justify-content: center;
   text-align: start;
}
.movie-details .movie-details-information h2 {
    color: var(--turqoise);
    margin-left: 20px;
}
.movie-details .movie-details-information p {
    margin: 0 10px;
}

.movie-details .movie-details-subhead {
    font-weight: bold;
    color: var(--turqoise);
}

.movie-details .movie-details-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

.movie-details .movie-details-buttons button {
    padding: 5px 50px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--turqoise);
    color: var(--buttonText);
    font-weight: bold;
    border: 0;
}

.movie-details .movie-details-buttons .disabled {
    background-color: #09815f;
}

.details-confirm-button {
    max-width: 90% !important;
}

