.profile-history {
    background: var(--almostBlack);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-history th {
    color: var(--turqoise);
    padding: 10px;
    text-align: left;
}

.profile-history td {
    color: var(--whiteText);
    padding: 10px;
    text-align: left;
}
