.profile-history {
    background: var(--almostBlack);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-history .profile-history-listitem {
    list-style: none;
}
