.profile-history {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteText);
}

.profile-history h4 {
    color: var(--turqoise);
}

.profile-history .profile-history-listitem {
    list-style: none;
}
