.profile {
    background-color: var(--almostBlack);
    color: var(--whiteText);
    height: 80vh;
}

.profile .profile-headings-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 1em 0;
    color: var(--turqoise);
}

.profile .profile-sub-headings-container {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    color: var(--whiteText);
}

@media (min-width: 760px) {
    .profile .profile-sub-headings-container {
        margin-left: 10em;
    }
}

.profile .profile-sub-heading {
    padding: 10px 20px;
    border-radius: 20px;
}
.profile .profile-sub-heading:hover {
    background-color: var(--background);
}

.profile .selected {
    background-color: var(--background);
}

.profile h3 {
    margin-right: 40px;
}

.profile .profile-breakline {
    width: 80%;
    margin-left: 10%;
    height: 2px;
    border-width: 0;
    color: var(--whiteText);
    background: var(--whiteText);
}

.profile .profile-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 760px) {
    .profile .profile-container {
        flex-direction: row;
    }
}

.profile .profile-image-name-container {
    margin-right: 20px;
}

.profile .profile-image {
    border: 1px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.profile .profile-name {
    text-align: left;
    color: var(--whiteText);
}

.profile .profile-history-settings-container {
    border: 1px solid white;

}