:root {
  --turqoise: #08F6AF;
  --almostBlack: #101010;
  --background: #333333;
  --lighterBackground: #3C3C3C;
  --whiteText: #CFCFCF;
  --buttonText: #3C3C3C;
}

button {
  border: 0;
}


.App {
  text-align: center;
  background-color: var(--almostBlack);
  min-height: 100vh;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  
}
@media (max-width: 700px) {
  .App {
    object-fit: fill;
  }


}
