.movie-details {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    margin: 0;

}

.movie-details .movie-details-image {
    border: 1px solid white;
    height: 400px;
    width: 250px;
}

@media (max-width: 500px) {
    .movie-details {
        flex-direction: column;
    }
    .movie-details .movie-details-image {
        width: 60%;
    }
}

.movie-details .movie-details-information {
    text-align: left;
    margin-left: 20px;
}
.movie-details .movie-details-information h2 {
    color: #08F6AF;
}
.movie-details .movie-details-information p {
    margin-left: 20px;
}

.movie-details .movie-details-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.movie-details .movie-details-buttons button {
    padding: 5px 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #08F6AF;
    color: black;
    font-weight: bold;
}