.purchased {
    color: #08F6AF;
}

.purchased .purchased-browser {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
}

.purchased .purchased-image {
    border: 1px solid white;
    height: 200px;
    width: 150px;
    margin: 20px 40px 0 0;
}