.purchased {
    background: var(--almostBlack);
    color: var(--turqoise);
}

.purchased .purchased-browser {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.purchased .purchased-image {
    border: 1px solid white;
    height: 200px;
    width: 150px;
    grid-column: 1fr;
    justify-self: center;
}