.purchased {
    background: var(--almostBlack);
    color: var(--turqoise);
    display: flex;
    align-items: top;
    padding: 20px 20px;
    color: var(--whiteText);
    margin: auto;
    max-width: 1400px;
    
    height: 810px;
}

.purchased .purchased-browser {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.purchased .purchased-image {
    border: 1px solid white;
    height: 200px;
    width: 150px;
    grid-column: 1fr;
    justify-self: center;
}