.scroller {
    background-color: var(--almostBlack);
    color: var(--turqoise);
    width: 100vw;
    padding: 1em;
}

.scrollerName {
    width: fit-content;
    height: 1em;
}

.scrollerWrapper {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 14em;
}

.scrollerWrapper::-webkit-scrollbar {
    display: flex;
    height: 5px;
}

.scrollerWrapper::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

.scrollerItem {
    width: 10em;
    height: 13em;
    margin-right: 3em;
}

.scrollerImg {
    width: 7em;
    height: 170px;
    object-fit: cover;
    justify-self: center;
}