.watchlist {
    background: var(--almostBlack);
    color: var(--turqoise);
    display: grid;
    align-items: top;
    color: var(--whiteText);
    margin: auto;
    max-width: 1400px;
    
    height: 900px;
}

.watchlist .watchlist-category-header {
    text-align: left;
    margin: 20px 0 0 10%;
    
}

.watchlist .watchlist-category-breakline {
    width: 80%;
    margin-left: 10%;
    height: 2px;
    border-width: 0;
    color: var(--whiteText);
    background: var(--whiteText);
}

.watchlist .watchlist-category-browser {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.watchlist .watchlist-image {
    border: 1px solid white;
    height: 200px;
    width: 150px;
    grid-column: 1fr;
    justify-self: center;
}